body {
	background-color: black;
	font-size: 15px;
}

.btn {
	color: #2E2E2E;
}

.container {
	width:100%;
}
.secondContainer {
	background-color:#ED1B24;
}

.form-group {
	margin-top: 2%;
}

.navbar{
	border: none;
	color: black;
}
.container-fluid{
	background-color: #ED1B24;
}

