body {
	background-color: black;
	font-size: 15px;
	color:white;
}

.btn {
	background-color: black;
}

.container {
	width:100%;
}
.secondContainer {
	background-color:#ED1B24;
}

.form-group {
	margin-top: 2%;
}

.navbar{
	border: none;
	color: black;
}
.container-fluid{
	background-color: #ED1B24;
}

.logoImg {
	margin-top:2%;
}

.table{
	color:black;
}

.logout {
	margin-top: 1.2%;
}
