<div class="container firstContainer">
      <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol><!--Close of indicators-->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="sketch/hardwell-01.png" class="img-responsive" >
          <div class="carousel-caption">
            <img src="sketch/last_fm_logo.png" pull-right>
          </div>
        </div><!--Close of item active-->
        <div class="item">
          <img src="sketch/shakira-01.png" class="img-responsive">
        </div><!--Close of second item-->
        <div class="item">
          <img src="sketch/u2-01.png" class="img-responsive">
        </div><!--Close of third item-->
      </div><!--Close of wrapper for slides-->

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
     </div>
    </div><!--First Container-->

    <div class="container secondContainer">
     <div class="row">
      <div class="col-md-1 col-xs-1"></div>
      <div class="col-md-4 col-xs-4" >
       <div ng-show="currentUser">
          <p>
          <h1>Bienvenido <strong><u>{{currentUser.get('username')}}</u></strong></h1>
          <button onclick="location.href='#/topchart'" class="blackButton">Listado de canciones</button>
          <button ng-click="logOut(user)" class="blackButton">Cerrar sesion</button>
          </p>
        </div>
            <!--Form for Sign Up-->
            <form class="form-horizontal" ng-hide="currentUser">
             <h2>Sign Up</h2>
              <div class="form-group">
               Email: <input type="email" ng-model="user.email" class="form-control" placeholder="Email">
              </div><!--Close of first form-group-->
              <div class="form-group">
               Username: <input type="text" ng-model="user.username" class="form-control" placeholder="Username">
              </div><!--Close of second form-group-->
              <div class="form-group"> 
               Password: <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
              </div><!--Close of third form-group-->
              <div class="form-group">
               <button ng-click="signUp(user, '/topchart')" class="btn pull-right">Sign up!!</button>
              </div><!--Close of fourth form-group--> 
            </form><!--Close of signUp form-->     
      </div><!--Close of col-md-4--> 
      <div class="col-md-2 col-xs-2"></div> 
      <div class="col-md-4 col-xs-4" ng-hide="currentUser">
        <!--Form to log In-->
            <form class="form-horizontal">
             <h2>Log in</h2>
              <div class="form-group">
               Username: <input type="text" ng-model="user.username" class="form-control" placeholder="Username">
              </div><!--Close of first from group second form-->
              <div class="form-group">
               Password: <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
              </div><!--Close of second form group second form-->
              <div class="form-group"> 
               <button ng-click="logIn(user, '/topchart')" class="btn pull-right">Log in</button>
              </div><!--Close of third form group second form-->
            </form><!--Close of LogIn form-->
       </div><!--CLose of col-md-5-->
      <div class="col-md-1 col-xs-1"></div>
     </div><!--Close of row-->
    </div><!--Second container-->